body{
    background-color: hsl(212, 45%, 89%);
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    text-align: center;
}

img{
    border-radius: 10px;
    margin: 22px 0;
    width: 300px;
}

h1{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 30px;
}

p{
    color: hsl(220, 15%, 55%);
    font-weight: lighter;
    margin: 20px 50px;
}

.qr{
    background-color: hsl(0,0%,100%);
    border-radius: 20px;
    height: 530px;
    margin: 5% auto;
    width: 350px;
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }